<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Add the log file path here -->
		<add key="LogFilePath" value="C:\a6\a6\LogFile.txt" />
		<add key="ServerIPAddress" value="10.144.109.1" />
		<!-- Add the port here -->
		<add key="ServerPort" value="63416" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
</configuration>
